<div class="col-4 img-box">

  <%= link_to picpost_path(picpost) do %>
    <%= image_tag picpost.picture.url %>
  <% end %>

  <p class="picture-text"><%= picpost.user.nickname %></p>


  <%= render 'likes/like', picpost: picpost  %>

</div>		
