<div class="text-center mt-5 show-page">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4 pt-4"><%= @picpost.user.nickname %>'s pic</h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <%= image_tag @picpost.picture.url, class: "img-fluid" %>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Photo Description</h3>
      <p><%= @picpost.text %></p>    
    </div>

  </div>
  <!-- /.row -->

  <% if current_user && (@picpost.user_id == current_user.id) %>
    <%= link_to "削除する", picpost_path(@picpost), method: :delete, class: "btn btn-outline-secondary mt-5"%>
  <% end %>

</div>
